# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/padel?schema=public"

# JWT
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production-min-32-characters"

# Server
PORT=3000
NODE_ENV=development

# CORS
CORS_ORIGIN="http://localhost:5173"
